:root {
    --text-color: #654a3b;
    --background-color: #fff;
    --bar-color: #e6c99c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

body {
    background-color: var(--background-color);
}

#main {
    width: 100vw;
    height: 100vh;
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#shopp-box {
    border: 1px solid;
    width: 100%;
    height: 100%;
    display: flex;
}

.title {
    background-color: var(--bar-color);
    color: var(--text-color);
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px;
    height: 30px;
    border-radius: 5px;
    width: 90%;
}

#shopping-cart-box {
    border: 1px solid;
    display: flex;
    width: 60%;
    height: 90%;
}

.product {
    display: flex;
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 50px;
    border: 1px solid;
}

.img-box {
    margin-left: 20px;
    border: 1px solid;
    height: 280px;
    width: 230px;
}

.img-box img {
    border-radius: 10px;
    height: 280px;
    width: 230px;
}

.product-descript {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    justify-content: center;
}

.prod-name, .quantidade {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.prod-price {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.prod-add-remove {
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.prod-add, .prod-remove {
    border: 3px double;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#shopp-left {
    border: 1px solid;
}

#princing {
    border: 1px solid;
    height: 100%;
    width: 100%;
}

#finalize-shop {
    border: 1px solid;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}