:root {
    --text-color: #654a3b;
    --background-color: #fff;
    --bar-color: #e6c99c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

body {
    background-color: var(--background-color);
}

#main {
    width: 100vw;
    height: 100vh;
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#shopp-box {
    border: 1px solid;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 60px;
}

.title {
    background-color: var(--bar-color);
    color: var(--text-color);
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px;
    height: 30px;
    border-radius: 5px;
    width: 90%;
}

#cart {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 60%;
}

#empty-cart {
    margin-top: 100px;
    width: 100%;
    font-size: 3em;
    text-align: center;
}

.product {
    display: flex;
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 20px 50px;
    border: 1px solid;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 280px;
    width: 230px;
}

.img-box img {
    border-radius: 10px;
    height: 270px;
    width: 220px;
    border: 1px solid;
}

.product-descript {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    justify-content: center;
}

.prod-name {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.prod-price {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.prod-add-remove {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.prod-add, .prod-remove {
    border: 3px double;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.quantidade {
    text-align: center;
}

#shopp-left {
    border: 1px solid;
    width: 40%;
}

#pricing {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}

#pricing #resume {
    font-size: 1.8em;
    margin: 30px 0;
}

#pricing button {
    height: 40px;
    width: 150px;
    margin: 20px;
}

#cep-shop {
    padding: 20px;
    border: 1px solid;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cep-inputs input {
    border: 1px solid;
    height: 20px;
    width: 200px;
    margin: 20px;
}

#cep-inputs button {
    height: 30px;
    width: 100px;
    border: 1px solid;
}