:root {
    --text-color: #654a3b;
    --background-color: #fcf3e3;
    --bar-color: #e6c99c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

body {
    background-color: var(--background-color);
}

#main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: var(--bar-color);
    color: var(--text-color);
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px;
    height: 30px;
    border-radius: 10px;
    width: 90%;
    border: 1px solid var(--text-color);
}

#btn-space {
    width: 100%;
}

#go-back {
    margin-left: 200px;
}

#products, #services {
    width: 70%;
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
}

.cards {
    border: 1px solid var(--text-color);
    background-color: var(--bar-color);
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    width: 250px;
    text-align: center;
    margin: 20px 40px;
}

.cards img {
    border-radius: 10px;
    height: 280px;
    width: 230px;
    margin-bottom: 10px;
    object-fit: cover;
}

.btn-buy, #go-back {
    background-color: var(--text-color);
    color: var(--background-color);
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.btn-buy:hover, #go-back:hover {
    border: 1px solid var(--text-color);
    background-color: var(--bar-color);
    color: var(--text-color);
}
