:root {
    --text-color: #654a3b;
    --background-color: #f5ecde;
    --bar-color: #e6c99c;
    --background: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo {
    height: 60px;
    width: 60px;
}

body {
    background-color: var(--background);
}

#nav-bar {
    position: fixed;
    width: 100vw;
    z-index: 11;
}

#nav-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}

.links {
    text-decoration: none;
    color: black;
}

.icons {
    height: 25px;
    width: 25px;
}

.icons:first-of-type {
    margin-left: 10px;
}

#box-pedido, #box-cadastro, #box-login {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
}

.nav-up-btn:hover {
    box-shadow: 1px 1px var(--text-color);
}

#box-txt {
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 35px;
    width: 35%;
    line-height: 30px;
}

#nav-down {
    background-color: var(--bar-color);
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    cursor: pointer; 
}

.nav-links:hover {
    background-color: #fad8a2;
    color: brown;
}

.btns {
    height: 40px;
    width: 40px;
    margin: 30px;
}

.txt-index {
    height: 25px;
    width: 80%;
}

#img {
    height: 300px;
    border-radius: 10px;
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: var(--bar-color);
    color: var(--text-color);
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px;
    height: 30px;
    border-radius: 5px;
    width: 90%;
}

#about-us {
    color: var(--text-color);
    width: 80vw;
}

#about-us-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

li {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px var(--text-color);
    text-align: center;
    height: fit-content;
    margin: 30px;
    padding: 10px;
    list-style: none;
    font-size: 1.4em;
}

#comments {
    padding: 20px;
    gap: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.comments-img {
    border-radius: 10px;
}

#news {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    margin-bottom: 20px;
}

.link-news {
    text-decoration: none;
    color: black;
}

.link-news:hover {
    color: rgb(0, 0, 150);
}

.news-box {
    text-align: center;
    width: 30%;
}

#footer {
    background-color: var(--bar-color);
    color: var(--text-color);
    font-size: 1.2em;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pics {
    margin: 150px 0 30px 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 400px;
}

.promo {
    width: auto;
    max-width: 30%;
    height: auto;
    max-height: 100%;
}

.promo-img {
    filter: grayscale(.4);
    border-radius: 10px;
    height: 400px;
    width: 400px;
}

.promo-img:hover {
    filter: grayscale(0);
    cursor: pointer;
}